%script{src: 'https://cdn.rawgit.com/nnnick/Chart.js/master/Chart.min.js'}
%div.container
  %div.jumbotron{style: 'padding: 28px;'}
    %h1.text-center
      Optumm
    %h4.text-center
      Fancy a Ride?
  %div.row
    %div.col-md-6.col-sm-offset-3
      %h3
        %span.glyphicon.glyphicon-comment
        Which features are most desired by men or women?
  %div.row
    %div.col-md-8.col-sm-offset-2
      %canvas{:id => "radar_chart", :width => "750", :height => "600"}

  %div.row
    %div.col-md-6.col-sm-offset-3
      %h3
        %span.glyphicon.glyphicon-comment
        What Percentage of People in Glasgow Cycle?
  %br
  %div.row
    %div.col-md-8.col-sm-offset-2
      %canvas{:id => "who_cycles_chart", :width => "750", :height => "600"}

:javascript
    $(document).ready( function() {

      var ctx_radar = $("#radar_chart").get(0).getContext("2d");
      var myNewChartRadar = new Chart(ctx_radar);
      var data_radar = {
            labels : ["Route Map","Parking Map","Bike Shop Map","Air Quality Map","Accident Map"],
            datasets : [
              {
                fillColor : "rgba(242,153,236,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : #{@female_rankings}
              },
              {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : #{@male_rankings}
              }
            ]
          }

      new Chart(ctx_radar).Radar(data_radar);
      var ctx_who_cycles_chart = $("#who_cycles_chart").get(0).getContext("2d");
      var whoCyclesChart = new Chart(ctx_who_cycles_chart);
      var data = [
          {
            value: #{@number_of_cyclists},
            color: "#76E66C"
          },
          {
            value: #{@number_of_people} - #{@number_of_cyclists},
            color: "#E66372"
          }
      ]
      new Chart(ctx_who_cycles_chart).Pie(data);

    } );
